# OS Files
.DS_Store
Thumbs.db

# Editor directories
.idea/
.vscode/

# Node / Python / Temp / Archives
node_modules/
__pycache__/
*.tmp
*.temp
*.zip

# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc

# Submission packages & distribution directories
23120207_HW01_AI_*/
